/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

/* Center the content in a container */
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Style for the content section */
.content {
    background-color: rgb(225, 242, 248);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}




.logo {
    text-align: center;
    padding: 20px 0; /* Add padding to create space between logo and content */
    position: relative; /* Set position to relative */
    z-index: 2; /* Set a higher z-index to keep the logo above other elements */
}

.logo img {
    width: 300px; /* Set the width of your logo */
    height: auto; /* Maintain aspect ratio */
}



/* Additional styles for larger screens if needed */
@media (min-width: 768px) {
    .logo {
        padding: 30px 0; /* Adjust padding for larger screens */
    }

    .logo img {
        width: 200px; /* Adjust logo size for larger screens */
    }
}






/* Button style for index.html */
#cusRequest,
#cusFeedback {
    width: 150px; /* Set a fixed width for the buttons */
    height: 100px; /* Set a fixed height for the buttons */
    margin-top: 20px;
    margin-right: 10px; /* Add margin between the buttons */
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6008a8;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    word-wrap: break-word; /* Allow the text to wrap within the button */
    white-space: normal;   /* Allow the text to wrap to the next line */
    vertical-align: top;   /* Align buttons from the top */

    /* Add hover effect */
    &:hover {
        background-color: #507904;
    }

    /* Additional styles for larger screens if needed */
    @media (min-width: 768px) {
        font-size: 16px;
        width: 180px;
        height: 180px;
        padding: 15px;
        margin-right: 20px; /* Adjust margin for larger screens */
    }
}








